body,
html {
  height: 100%;
  margin: 0;
  background: #0b0b0d;
  scroll-behavior: smooth;
}

:root {
  font-size: 90%;
}

* {
  font-family: "work sans", sans-serif;
  font-weight: lighter;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a,
li,
p {
  font-weight: 300;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3 {
  font-weight: 500;
  color: #e7e7e7;
}
