@use "reset";
@use "font";
@use "styleCommon";
@use "functions";
@use "variables";

//colors
$color-primary: #d9d9d9;
$color-secondary: #9c9c9c;
$color-dark: #181818;

.portfolio {
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 320px;
  position: relative;
  display: flex;
  align-items: center;
  row-gap: 50px;
  flex-direction: column;
  padding-bottom: 2%;
}

.header {
  position: fixed;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  z-index: 10;
  transition: background 150ms linear;

  .header-brand {
    font-weight: 300;
    color: #ffffff;
    font-size: functions.PxToRem(23);
  }

  ul {
    width: 45em;
    justify-content: space-evenly;
    display: flex;
    a {
      font-weight: 300;
      transition: color 150ms;
      cursor: pointer;
      color: #f0f0ff;
      font-size: functions.PxToRem(17);
      &:hover {
        transition: color 150ms;
        color: $color-secondary;
      }
    }
  }

  img {
    margin-top: 20px;
  }

  svg {
    display: none;
  }
  @media (max-width: 1220px) {
    &.active-mobile {
      ul {
        background-color: $color-dark;
        border-top: 0.1px solid #d054383d;
        z-index: 10;
        position: fixed;
        left: 0;
        top: 90px;
        overflow: hidden;
        height: calc(100% - 90px);
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        li a {
          font-size: larger;
          color: $color-primary;
        }
      }
    }

    svg {
      cursor: pointer;
      width: 40px;
      display: block;
      fill: $color-dark;
      transition: fill 150ms;

      &:hover {
        fill: $color-secondary;
        transition: fill 150ms;
      }
    }
    ul {
      display: none;
    }
  }
}

.section-initial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: functions.PxToRem(620);

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: functions.PxToRem(1220);
    height: functions.PxToRem(450);

    span {
      margin: auto;
      font-family: "work sans";
      letter-spacing: functions.PxToRem(2);
      color: rgba(255, 255, 255, 0.5);
      font-size: functions.PxToRem(38);
    }

    strong {
      font-weight: 300;
      color: #fff;
      font-size: functions.PxToRem(35);
    }

    img {
      width: functions.PxToRem(40);
      margin-top: functions.PxToRem(20);
    }
  }

  @media (max-width: 680px) {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: functions.PxToRem(600);
      height: functions.PxToRem(500);

      span {
        text-align: center;
        margin: auto;
        font-family: "work sans";
        letter-spacing: functions.PxToRem(2);
        color: rgba(255, 255, 255, 0.5);
        font-size: functions.PxToRem(30);
      }

      strong {
        font-weight: 300;
        color: #fff;
        font-size: functions.PxToRem(32);
      }

      img {
        width: functions.PxToRem(40);
        margin-top: functions.PxToRem(20);
      }
    }
  }
}

.section-about {
  width: 100%;
  .about-me {
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .my-photo {
      box-sizing: content-box;
      width: functions.PxToRem(450);

      img {
        border-radius: 5px;
        width: functions.PxToRem(320);
        height: functions.PxToRem(430);
      }
    }
    p {
      letter-spacing: 1px;
      font-family: "work sans";
      font-weight: 200;
      line-height: 140%;
      word-wrap: break-word;
      font-size: functions.PxToRem(27);
      color: #fff;
      width: functions.PxToRem(700);

      span {
        font-weight: 300;
        color: $color-secondary;
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 1220px) {
    .about-me {
      display: flex;
      flex-direction: column-reverse;
      padding: 2%;
      width: 90%;
      margin: 0 auto;
      display: flex;

      .my-photo {
        box-sizing: content-box;
        min-width: 90%;
        width: 100%;
        height: 420px;
        column-gap: 20px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (max-width: 680px) {
    .about-me {
      p {
        letter-spacing: 1px;
        font-family: "work sans";
        font-weight: 200;
        line-height: 140%;
        font-size: functions.PxToRem(24);
        width: 95%;
      }
    }
  }
}

.section-services {
  width: 100%;

  .section-group-services {
    margin: 0 auto;
    margin-top: functions.PxToRem(120);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service {
    padding: functions.PxToRem(15);
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: calc(functions.PxToRem(1280) / 4);
    margin: functions.PxToRem(55);
    height: functions.PxToRem(250);
    border: 1px solid #8b8b8b;
    border-radius: 5px;

    transition: background 150ms;

    &:hover {
      background-color: $color-primary;
      border: none;
      transition: background 150ms;

      p,
      h2 {
        color: $color-dark;
      }
    }
    svg {
      margin-top: functions.PxToRem(20);
      margin-bottom: functions.PxToRem(10);
    }

    h2 {
      font-weight: 300;
      line-height: functions.PxToRem(50);
      font-size: functions.PxToRem(30);
      width: 150px;
    }

    p {
      color: #ffffff;
      font-weight: 300;
      font-size: functions.PxToRem(17);
    }
  }
}

.section-budget {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  border-radius: 5px;
  margin: functions.PxToRem(100) functions.PxToRem(100) functions.PxToRem(100)
    auto;
  background-color: $color-primary;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between;
  display: flex;
  p {
    width: functions.PxToRem(724);
    text-align: center;
    font-weight: 300;
    color: $color-dark;
    font-size: functions.PxToRem(24);
  }

  button {
    cursor: pointer;
    border-radius: 7px;
    color: $color-dark;
    font-weight: 300;
    border: none;
    background-color: transparent;
    border: 1px solid;
    margin-left: functions.PxToRem(20);
    font-size: functions.PxToRem(25);
    width: functions.PxToRem(400);
    height: functions.PxToRem(70);
    transition: box-shadow 150ms;

    &:hover {
      transition: box-shadow 150ms;
      box-shadow: -2px 3px 7px 0px #00000047;
      border: none;
      color: #000;
    }
  }
  @media (max-width: 1260px) {
    gap: 21px;
    justify-content: center;
  }
}

.section-methodology {
  display: flex;
  padding: 20px;
  max-width: 98%;
  width: functions.PxToRem(1280);

  .section-header-methodology {
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
      font-weight: 200;
      width: 60%;
      margin-top: functions.PxToRem(10);
      margin-bottom: functions.PxToRem(10);
      font-size: functions.PxToRem(22);

      span {
        font-weight: 500;
      }
    }
  }

  .section-stages-methodology {
    .stage-methodology {
      margin-top: functions.PxToRem(70);
      margin-bottom: functions.PxToRem(70);
      align-items: center;
      justify-content: space-around;
      display: flex;
      height: functions.PxToRem(450);

      p {
        font-weight: 100;
        line-height: 150%;
        width: 70%;
        font-size: functions.PxToRem(30);
      }

      h3 {
        color: #c7c7c7;
        font-size: functions.PxToRem(60);
      }

      &:nth-child(3) {
        h3 {
          word-wrap: break-word;
          width: 28%;
        }
      }
    }
  }

  @media (max-width: 680px) {
    .section-stages-methodology {
      .stage-methodology {
        margin-top: functions.PxToRem(70);
        margin-bottom: functions.PxToRem(70);
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        display: flex;
        height: functions.PxToRem(450);

        &:nth-child(2) {
          flex-direction: column-reverse;
        }
        p {
          text-align: center;
          font-weight: 200;
          line-height: 150%;
          width: 95%;
          font-size: functions.PxToRem(27);
        }

        h3 {
          color: #c7c7c7;
          font-size: functions.PxToRem(30);
        }

        &:nth-child(3) {
          h3 {
            word-wrap: break-word;
            width: initial;
          }
        }
      }
    }
  }
}

.section-skills {
  margin: 0 auto;
  max-width: 98%;
  width: functions.PxToRem(1700);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: functions.PxToRem(50);

    span {
      color: #4084ea;
    }
  }

  .skills {
    margin-top: functions.PxToRem(120);
    width: inherit;
    display: flex;
    max-width: 98%;
    justify-content: center;
    column-gap: functions.PxToRem(120);
    row-gap: functions.PxToRem(120);
    flex-wrap: wrap;

    div {
      width: functions.PxToRem(230);
      height: functions.PxToRem(200);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      color: #fff;
      padding: functions.PxToRem(20);

      border: 1px solid #fff;
      transition: background 150ms;

      span {
        text-align: center;
        font-weight: 300;
        font-size: functions.PxToRem(18);
      }

      &:hover {
        transition: background 150ms;
        color: $color-dark;
        background-color: $color-primary;
      }
    }
  }
}

#baseTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;

  #tagsExperiential {
    border-radius: 5px;
    padding: 1.2%;
    color: $color-dark;
    background-color: $color-primary;
  }

  @media (max-width: 680px) {
    #baseTags {
      gap: 10px;
      flex-direction: column;
      margin-top: 5px;
    }
  }
}

.section-footer {
  margin-top: 20px;
  text-align: center;

  p {
    margin-bottom: 10px;
    color: #898989;
  }
  strong {
    font-size: functions.PxToRem(20);
    color: #fff;
  }
}
.active-scroll {
  transition: background 150ms linear;
  background-color: $color-primary;

  ul a {
    color: $color-dark;
  }

  .header-brand {
    color: $color-dark;
  }
}

//scrollbar
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

/* Estilo do trilho da barra de rolagem */
::-webkit-scrollbar-track {
  background: #222222; /* Cor de fundo do trilho */
}

/* Estilo do polegar da barra de rolagem (a própria barra) */
::-webkit-scrollbar-thumb {
  background: $color-primary; /* Cor de fundo do polegar */
}

/* Estilo do polegar da barra de rolagem quando passa o mouse por cima */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}
